.card img{
    border: 1px solid black;
    border-radius: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f2f2f2;
  }
  
  .title {
    margin: 0;
    font-size: 2rem;
  }
  
  .btn-restart {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-restart:hover {
    background-color: #388e3c;
  }
